<div class="my-3 p-3 bg-white rounded box-shadow">
  <h6 class="border-bottom border-gray pb-2 mb-0">Pedidos</h6>

  <div class="alert alert-info" role="alert" *ngFor="let pedido of saleRequests" >
    <p class="lead" style="font-size:30px;" *ngFor="let pedidoprods of pedido.Products"><strong>Pedido: </strong>{{pedido.PersonalizedCode}}</p>
    <!-- <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">   (click)="sendToDelivered(pedidoProduto.SaleRequestProductId)"
      <strong class="d-block text-gray-dark">Pedido: {{pedidoProduto.SaleRequest.PersonalizedCode}}</strong>
      <strong class="d-block text-gray-dark">Quantidade: {{pedidoProduto.Quantity}}</strong>
    </p> -->
  </div>
</div>
